# Binaries and Shared Libraries
bin/
**/*.exe
**/*.dll
**/*.so
**/*.dylib
/rubo
/lib/

# Rust
src/runtime/target/
target/

# Go
vendor/
*.test
*.out

# Tools and Local Config
.env
.mise.xml
.jenv/
.ruby-version
.python-version
.node-version
.tool-versions
.mise/
